[Desktop Entry]
Type=Application
Version=1.0
Name=Calculator
GenericName=Calculator
Comment=Simple calculator built in c
Icon=com.github.TarekSaeed0.calculator
Exec=calculator
Categories=Utility;Calculator;GTK
StartupNotify=true

