frame {
  background-color: @theme_fg_color;
}
frame button {
  background-color: @theme_bg_color;
  min-height: 0;
}
frame textview {
  color: @theme_bg_color;
  caret-color: @theme_bg_color;
  background-color: transparent;
  font-size: 16px;
}
frame textview text {
  background-color: transparent;
  min-width: 0;
}

grid button {
  min-width: 0;
}
grid button:hover {
  outline: 2px solid alpha(@accent_color, 0.35);
  outline-offset: 0;
}

#button-insert-plus-sign {
  background-color: @accent_color;
}
